dvc
mlflow==2.12.1
black
pylint
python-box
pyYAML
joblib
types-PyYAML
ensure
gdown
pyarrow
datasets
accelerate==0.27.2
transformers==4.39.3
tqdm
numpy
pandas
scikit-learn
seaborn
matplotlib
torchinfo
peft==0.9.0
dagshub
torchvision
-e .